@import "tailwindcss";

:root {
  --background: #041108;
  --foreground: #F5F5F0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-mono: var(--font-syne);
}

body {
  background: var(--background);
  color: var(--foreground);
}
